<div id="DestinationAirport">
    <h4>Destination Airport</h4>
    <div class="table-wrapper table-responsive mt-15">
        <table class="table striped-table">
            <thead>
                <tr>
                    <th><h6>Airport Name</h6></th>
                    <th><h6>Code</h6></th>
                    <th><h6>Delete</h6></th>
                </tr>
                <!-- end table row-->
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td>
                        <div class="action"><button class="text-danger"><i class="lni lni-trash-can"></i></button></div>
                    </td>
                </tr>
                <!-- end table row -->
                <tr>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td>
                        <div class="action"><button class="text-danger"><i class="lni lni-trash-can"></i></button></div>
                    </td>
                </tr>
                <!-- end table row -->
                <tr>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td>
                        <div class="action"><button class="text-danger"><i class="lni lni-trash-can"></i></button></div>
                    </td>
                </tr>
                <!-- end table row -->
                <tr>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td>
                        <div class="action"><button class="text-danger"><i class="lni lni-trash-can"></i></button></div>
                    </td>
                </tr>
                <!-- end table row -->
                <tr>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td><input type="text" class="tabletextfield" placeholder=""></td>
                    <td>
                        <div class="action"><button class="text-danger"><i class="lni lni-trash-can"></i></button></div>
                    </td>
                </tr>
                <!-- end table row -->
            </tbody>
        </table>
        <!-- end table -->
    </div>
    <div class="mt-10"><button type="button" class="main-btn primary-btn btn-hover btn-sm">Update</button> <button type="button" class="main-btn primary-btn-outline btn-hover btn-sm">Close</button></div>
</div>  
